.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 20px;
    color: var(--text);
    margin-bottom: 30px;
  }

  .signup-tabs {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    span {
      cursor: pointer;
      text-align: center;

      transition: all 0.2s;

      &:hover {
        text-decoration: underline;
        filter: none;
      }
    }

    .active-tab {
      text-decoration: underline;
    }

    .inactive-tab {
      filter: brightness(0.8);
    }
  }

  form {
    width: 50%;
    
    label {
      margin-bottom: 10px;
    }

    input {
      margin-bottom: 20px;
    }

    select {
      background-color: transparent;
      border: 1px solid var(--text);
      border-radius: 8px;
      color: var(--text);
      fill: var(--text);
      padding: 4px;
      margin-bottom: 20px;

      option {
        color: var(--text);
        background-color: var(--background);
      }
    }
  }
}