.panel-table {
  margin: 20px 50px;
  
  .ant-table-cell {
    background: var(--background);
    color: var(--text);
  }
  
  tbody.ant-table-tbody > tr.ant-table-row > td.ant-table-cell {
    transition: filter 0.2s;
  }

  tbody.ant-table-tbody > tr.ant-table-row:hover > td.ant-table-cell {
    background: var(--background);
    filter: brightness(0.8);
  }

}