.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 8px 0 8px 0;
  // border-bottom: 1px solid #e1e1e6;
  margin: 32px 0 0 0;
  background: var(--light-background);
  border-radius: 8px;
  font-size: 22px;
}
